:markdown-it
    Human brains interpret the context of real-world situations in a way that computers can’t. Neural networks were first developed in the 1950s to address this issue. An artificial neural network is an attempt to simulate the network of neurons that make up a human brain so that the computer will be able to learn things and make decisions in a humanlike manner. ANNs are created by programming regular computers to behave as though they are interconnected brain cells.

    ##### Neural network
    ![explanation](https://icdn5.digitaltrends.com/image/artificial_neural_network_1-791x388.jpg)
    
    
    ANN is a set of connected neurons organized in layers:

    - *input layer:* brings the initial data into the system for further processing by subsequent layers of artificial neurons.
    
    
    - *hidden layer:* a layer in between input layers and output layers, where artificial neurons take in a set of weighted inputs and produce an output through an activation function.
    
    
    - *output layer:* the last layer of neurons that produces given outputs for the program.
    
      
    ##### A node's architecture
    ![explanation](https://www.innoarchitech.com/assets/images/ArtificialNeuronModel_english.png) 

    A node takes in input values. It transfers the input depending on weights associated with different input. After processing the input the node passes it to its activation function, which determines if the node fires and passes on its information to the next nodes in the network.