:markdown-it
    Association rule learning is a rule-based machine learning method for discovering 
    interesting relations between variables in large databases.
    It is intended to identify strong rules discovered in databases 
    using some measures of interestingness. This rule-based approach 
    also generates new rules as it analyzes more data. The ultimate goal, 
    assuming a large enough dataset, is to help a machine mimic the 
    human brain’s feature extraction and abstract association capabilities 
    from new uncategorized data.

    ##### Support
    ![alt text][logo]

    [logo]: https://wikimedia.org/api/rest_v1/media/math/render/svg/1c6acacd3b17051205704b5d323c83fc737e5db1 "explanation"

    ##### Confidence
    ![alt text][logo]

    [logo]: https://wikimedia.org/api/rest_v1/media/math/render/svg/90324dedc399441696116eed3658fd17c5da4329 "explanation"

    ##### Lift
    ![alt text][logo]

    [logo]: https://wikimedia.org/api/rest_v1/media/math/render/svg/b6bfa25f817a13d911d1705766a5490d60d4f598 "explanation"


    ##### Sources
    [Association Rule Learning - Wikipedia](https://en.wikipedia.org/wiki/Association_rule_learning)
