:markdown-it
    K-Means Clustering can be used by Google and other companies in order to separate customers/users into different groups. Once separated, Google can target the different groups with different adds, provide different search results, and customize their entire online experiences based off what cluster of users they belong to.