:markdown-it
    Natural Language Processing is useful in everyday life in many of the systems we used
    on a daily basis, including Google Translate, Google Docs, and certain personal assistants.
    To begin using a Natural Language Processing algorithm, it is important to clean the data,
    first stemming certain text, breaking up the text, ensuring the text is in the proper language,
    and then running a mathematical model to determine the likelihood of certain words appearing 
    is positive or negative comments.