:markdown-it
    Reinforcement learning with the UCB algorithm uses data observed up to a certain 
    point in time (t) to determine which action to take at the time immediately 
    following the most recent occurrence (t+1). When evaluating an ad campaign, 
    the algorithm records the click through rates for each advertisement. 


    Depending on whether or not an ad is clicked on by the user, the algorithm will either 
    reward or punish the ad by recording a “1” or a “0” so that it can learn which ads are 
    the most appealing to users. By recording these click through rates, 
    the algorithm learns which ad provides the highest returns when shown to a user.