h2 Code
div(class='row mb-2')
    div.col-12.col-xl-6
        div.card.my-1
            h3.card-header Python
            iframe(
            class='card-footer'
            src=py_source
            )
    div.col-12.col-xl-6
        div.card.my-1
            h3.card-header R
            iframe(
            class='card-footer'
            src=r_source
            )