div(class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm")
    h5(class="my-0 mr-md-auto font-weight-normal")
        a(href="/")
            img(src='/images/full_logo.png' width="100")

    nav(class="my-2 my-md-0 mr-md-3")
        each item in data.menu  
            if item.children.length < 1
                a(class="p-2 text-dark" href="/" + item.url) #{item.name}
            else
                a(class="p-2 text-dark dropdown dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false") #{item.name}
                .dropdown-menu
                    each child in item.children
                        a(class='dropdown-item' href="/" + item.url +"/" + child.url) #{child.name}